<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBMS_App.Properties.Settings.NayanConnectionString"
            connectionString="Data Source=collegedb\sqlexpress;Initial Catalog=Nayan;User ID=sa;Password=collegeqwerty"
            providerName="System.Data.SqlClient" />
        <add name="DBMS_App.Properties.Settings.HospitalDBConnectionString"
            connectionString="Data Source=collegedb\SQLEXPRESS;Initial Catalog=HospitalDB;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>